:root{
    --brand-color:#E42A12;
    --btn-bg-color:rgba(228, 42, 18, 0.9);
    --btn-bg-hover-color:rgba(228, 42, 18, 0.7);
    --white-color:#fff;
    --star-bg-color: #F6AD01;
    --heading-color: #484848;
    --text-color: #808080;
    --heading-size: 2rem;
    --text-size: 1.3rem;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.brand-logo{
    color: var(--brand-color);
    font-size: 1.4rem;
    font-weight: bold;
}

#intro{
    background-image: url('/images/intro/resturant-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    width: 100%;
    color: #FFF;
    font-size: 1.5rem;
}

#intro .container{
    min-height: 100%;
    width: 40%;
}

.bullet-points {
    display: flex;
}
.bullet-points i{
    color: #008000;
    font-size: 1.5rem;
    margin-right: 1rem;
}
#choose-us img{
    border-radius: 20px;
    margin: 2rem 0;
}
/* Carousel */
.box {
    height: 260px;
    border-radius: 20px;
    margin: 0 1.5em;
    border: none;
  }
  .box .img-wrapper {
    max-width: 100%;
    height: 100% !important;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border-radius: 20px;
    position: relative;
  }
  .box .img-wrapper img {
    height: 260px;
    border-radius: 20px;
  }
  .carousel-inner {
    padding: 1.3rem;
  }
  .item-name{
   position: absolute;
   bottom: 20px;
   right: 20px;
   background-color: cadetblue;
   padding: 8px 15px;
   font-weight: bold;
   color: #ffffff;
   border-radius: 20px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #ffffff;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid #ffa500 ;
    color: #ffa500;
    font-size: 30px;
    
  }
  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    color: #ffffff;
    background-color: #ffa500;
  
  }

   /* Recipe Section */
   #recipe-section{
    padding: 2.7rem 0;
   }
   #recipe-section .image-size{
    height: 20rem;
   }
   #recipe-section .container{
    width: 50%;
   }
   #recipe-section{
    background-color: #FBF7F3;
   }
   .text-justify{
    text-align: justify;
   }


   /* footer Section */
   #footer{
    padding: 2.7rem 0;
   }
   #footer .image-size{
    height: 80px;
    width: 80%;
    border-radius: 20px;
   }

   #footer .g-logo{
    height: 100px;
  }
  #footer #google-logo{
    height: 20px;
  }
  #footer .bx.bxs-heart{
    color: var(--brand-color);
    font-size: 1.5rem;
  }
  #footer a{
    color: var(--brand-color);
  }
  #footer .social-icons{
    font-size: 40px;
    color: #808080;
  }
  #footer .btn{
    background-color: var(--btn-bg-color);
    color: var(--white-color);
    /* outline: none; */
  }

  #footer .btn:hover{
    background-color: var(--btn-bg-hover-color);
  }

  #footer .bx.bxs-star{
    color: var(--star-bg-color);
    font-size: 1.3rem;
    margin: 0;
  }

  #footer .heading-color{
    font-size: 1rem;
    font-weight: bold;
}
#footer .text-color{
    font-size: 0.75rem;
}